{{extend "layout.html"}}
{{block staticfile}}
<!-- libraries -->
<link href="/static/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
<link href="/static/css/lib/font-awesome.min.css" type="text/css" rel="stylesheet" />
<!-- this page specific styles -->
<link rel="stylesheet" href="/static/css/compiled/index.css" type="text/css" media="screen" />
<!-- open sans font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- lato font -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
{{end}}
{{block container}}
<!-- navbar -->
<div class="navbar navbar-inverse">
  <div class="navbar-inner"> <a class="brand" href="index.html"><img src="/static/img/logo.png"></a>
    <ul class="nav pull-right">
      <li class="hidden-phone">
        <input class="search" type="text" />
      </li>
      <li class="dropdown"> <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown"> 用户设置 <b class="caret"></b> </a>
        <ul class="dropdown-menu">
          <li><a href="personal-info.html">Personal info</a></li>
          <li><a href="#">Account settings</a></li>
          <li><a href="#">Billing</a></li>
          <li><a href="#">Export your data</a></li>
          <li><a href="#">Send feedback</a></li>
        </ul>
      </li>
      <li class="settings"> <a href="personal-info.html" role="button"> <span class="navbar_icon"></span> </a> </li>
      <li id="fat-menu" class="dropdown"> <a href="signin.html" role="button" class="logout"> <span class="navbar_icon"></span> </a> </li>
    </ul>
  </div>
</div>
<!-- end navbar -->

<!-- sidebar -->
{{include "AdminView/sidebar.html"}}
<!-- end sidebar -->

<!-- main container -->

<div class="content">{{block main}}
  <div class="container-fluid">

    <!-- upper main stats -->
    <div id="main-stats">
      <div class="row-fluid stats-row">
        <div class="span3 stat">
          <div class="data"> <span class="number">2457</span> 文章 </div>
          <span class="date">文章总数</span> </div>
        <div class="span3 stat">
          <div class="data"> <span class="number">3240</span> 栏目 </div>
          <span class="date">栏目总数</span> </div>
        <div class="span3 stat">
          <div class="data"> <span class="number">322</span> 附件 </div>
          <span class="date">附件总数</span> </div>
        <div class="span3 stat last">
          <div class="data"> <span class="number">2,2340</span> 访问 </div>
          <span class="date">访问统计</span> </div>
      </div>
    </div>
    <!-- end upper main stats -->

    <div id="pad-wrapper">

      <!-- statistics chart built with jQuery Flot -->
      <div class="row-fluid chart">
        <h4> {{=settings.SITE.SITE_NAME}}
          <div class="btn-group pull-right">
            <button class="glow left">DAY</button>
            <button class="glow middle active">MONTH</button>
            <button class="glow right">YEAR</button>
          </div>
        </h4>
        <div class="span12">
          <div id="statsChart"></div>
        </div>
      </div>
      <!-- end statistics chart -->

      <!-- UI Elements section -->
      <div class="row-fluid section ui-elements">
        <h4>UI Elements</h4>
        <div class="span5 knobs">
          <div class="knob-wrapper">
            <input type="text" value="50" class="knob" data-thickness=".3" data-inputColor="#333" data-fgColor="#30a1ec" data-bgColor="#d4ecfd" data-width="150">
            <div class="info">
              <div class="param"> <span class="line blue"></span> Active users </div>
            </div>
          </div>
          <div class="knob-wrapper">
            <input type="text" value="75" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#3d88ba" data-bgColor="#d4ecfd" data-width="150">
            <div class="info">
              <div class="param"> <span class="line blue"></span> % disk space usage </div>
            </div>
          </div>
        </div>
        <div class="span6 showcase">
          <div class="ui-sliders">
            <div class="slider slider-sample1 vertical-handler"></div>
            <div class="slider slider-sample2"></div>
            <div class="slider slider-sample3"></div>
          </div>
          <div class="ui-group"> <a class="btn-flat inverse">Large Button</a> <a class="btn-flat gray">Large Button</a> <a class="btn-flat default">Large Button</a> <a class="btn-flat primary">Large Button</a> </div>
          <div class="ui-group"> <a class="btn-flat icon"> <i class="tool"></i> Icon button </a> <a class="btn-glow small inverse"> <i class="shuffle"></i> </a> <a class="btn-glow small primary"> <i class="setting"></i> </a> <a class="btn-glow small default"> <i class="attach"></i> </a>
            <div class="ui-select">
              <select>
                <option selected>Dropdown</option>
                <option>Custom selects</option>
                <option>Pure css styles</option>
              </select>
            </div>
            <div class="btn-group">
              <button class="glow left">LEFT</button>
              <button class="glow right">RIGHT</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end UI elements section -->

      <!-- table sample -->
      <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
      <div class="table-products section">
        <div class="row-fluid head">
          <div class="span12">
            <h4>Products <small>Table sample</small></h4>
          </div>
        </div>
        <div class="row-fluid filter-block">
          <div class="pull-right">
            <div class="ui-select">
              <select>
                <option>Filter users</option>
                <option>Signed last 30 days</option>
                <option>Active users</option>
              </select>
            </div>
            <input type="text" class="search">
            <a class="btn-flat new-product">+ Add product</a> </div>
        </div>
        <div class="row-fluid">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="span3"> <input type="checkbox">
                  Product </th>
                <th class="span3"> <span class="line"></span>Description </th>
                <th class="span3"> <span class="line"></span>Status </th>
              </tr>
            </thead>
            <tbody>
              <!-- row -->
              <tr class="first">
                <td><input type="checkbox">
                  <div class="img"> <img src="/static/img/table-img.png"> </div>
                  <a href="#">There are many variations </a></td>
                <td class="description"> if you are going to use a passage of Lorem Ipsum. </td>
                <td><span class="label label-success">Active</span>
                  <ul class="actions">
                    <li><i class="table-edit"></i></span></li>
                    <li><i class="table-settings"></i></li>
                    <li class="last"><i class="table-delete"></i></li>
                  </ul></td>
              </tr>
              <!-- row -->
              <tr>
                <td><input type="checkbox">
                  <div class="img"> <img src="/static/img/table-img.png"> </div>
                  <a href="#">Internet tend</a></td>
                <td class="description"> There are many variations of passages. </td>
                <td><ul class="actions">
                    <li><i class="table-edit"></i></span></li>
                    <li><i class="table-settings"></i></li>
                    <li class="last"><i class="table-delete"></i></li>
                  </ul></td>
              </tr>
              <!-- row -->
              <tr>
                <td><input type="checkbox">
                  <div class="img"> <img src="/static/img/table-img.png"> </div>
                  <a href="#">Many desktop publishing </a></td>
                <td class="description"> if you are going to use a passage of Lorem Ipsum. </td>
                <td><ul class="actions">
                    <li><i class="table-edit"></i></span></li>
                    <li><i class="table-settings"></i></li>
                    <li class="last"><i class="table-delete"></i></li>
                  </ul></td>
              </tr>
              <!-- row -->
              <tr>
                <td><input type="checkbox">
                  <div class="img"> <img src="/static/img/table-img.png"> </div>
                  <a href="#">Generate Lorem </a></td>
                <td class="description"> There are many variations of passages. </td>
                <td><span class="label label-info">Standby</span>
                  <ul class="actions">
                    <li><i class="table-edit"></i></span></li>
                    <li><i class="table-settings"></i></li>
                    <li class="last"><i class="table-delete"></i></li>
                  </ul></td>
              </tr>
              <!-- row -->
              <tr>
                <td><input type="checkbox">
                  <div class="img"> <img src="/static/img/table-img.png"> </div>
                  <a href="#">Internet tend</a></td>
                <td class="description"> There are many variations of passages. </td>
                <td><ul class="actions">
                    <li><i class="table-edit"></i></span></li>
                    <li><i class="table-settings"></i></li>
                    <li class="last"><i class="table-delete"></i></li>
                  </ul></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination">
          <ul>
            <li><a href="#">&#8249;</a></li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&#8250;</a></li>
          </ul>
        </div>
      </div>
      <!-- end table sample -->
    </div>
  </div>{{end}}
</div>
{{end}}

<!-- scripts -->
{{block js}}<!-- knob -->
<script src="/static/js/jquery.knob.js"></script>
<!-- flot charts -->
<script src="/static/js/jquery.flot.js"></script>
<script src="/static/js/jquery.flot.stack.js"></script>
<script src="/static/js/jquery.flot.resize.js"></script>

<script type="text/javascript">
        $(function () {

            // jQuery Knobs
            $(".knob").knob();



            // jQuery UI Sliders
            $(".slider-sample1").slider({
                value: 100,
                min: 1,
                max: 500
            });
            $(".slider-sample2").slider({
                range: "min",
                value: 130,
                min: 1,
                max: 500
            });
            $(".slider-sample3").slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 40, 170 ],
            });



            // jQuery Flot Chart
            var visits = [[1, 50], [2, 40], [3, 45], [4, 23],[5, 55],[6, 65],[7, 61],[8, 70],[9, 65],[10, 75],[11, 57],[12, 59]];
            var visitors = [[1, 25], [2, 50], [3, 23], [4, 48],[5, 38],[6, 40],[7, 47],[8, 55],[9, 43],[10,50],[11,47],[12, 39]];

            var plot = $.plot($("#statsChart"),
                [ { data: visits, label: "Signups"},
                 { data: visitors, label: "Visits" }], {
                    series: {
                        lines: { show: true,
                                lineWidth: 1,
                                fill: true,
                                fillColor: { colors: [ { opacity: 0.1 }, { opacity: 0.13 } ] }
                             },
                        points: { show: true,
                                 lineWidth: 2,
                                 radius: 3
                             },
                        shadowSize: 0,
                        stack: true
                    },
                    grid: { hoverable: true,
                           clickable: true,
                           tickColor: "#f9f9f9",
                           borderWidth: 0
                        },
                    legend: {
                            // show: false
                            labelBoxBorderColor: "#fff"
                        },
                    colors: ["#a7b5c5", "#30a0eb"],
                    xaxis: {
                        ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4,"APR"], [5,"MAY"], [6,"JUN"],
                               [7,"JUL"], [8,"AUG"], [9,"SEP"], [10,"OCT"], [11,"NOV"], [12,"DEC"]],
                        font: {
                            size: 12,
                            family: "Open Sans, Arial",
                            variant: "small-caps",
                            color: "#9da3a9"
                        }
                    },
                    yaxis: {
                        ticks:3,
                        tickDecimals: 0,
                        font: {size:12, color: "#9da3a9"}
                    }
                 });

            function showTooltip(x, y, contents) {
                $('<div id="tooltip">' + contents + '</div>').css( {
                    position: 'absolute',
                    display: 'none',
                    top: y - 30,
                    left: x - 50,
                    color: "#fff",
                    padding: '2px 5px',
                    'border-radius': '6px',
                    'background-color': '#000',
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#statsChart").bind("plothover", function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(0),
                            y = item.datapoint[1].toFixed(0);

                        var month = item.series.xaxis.ticks[item.dataIndex].label;

                        showTooltip(item.pageX, item.pageY,
                                    item.series.label + " of " + month + ": " + y);
                    }
                }
                else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        });
    </script>
{{end}}